<div class="col-6 col-12-medium">
<h3>Вход</h3>
<form method="post" action="#">
    <div class="row gtr-uniform">
        <div class="col-6 col-12-xsmall">
            <input type="text" name="demo-login" id="demo-login" value="" placeholder="Логин" />
        </div>
        <div class="col-6 col-12-xsmall"></div>
        <div class="col-6 col-12-xsmall">
            <input type="text" name="demo-password" id="demo-password" value="" placeholder="Пароль" />
        </div>
        <!-- Break -->
        <!-- Break -->
        <div class="col-12">
            <ul class="actions">
                <li><input type="submit" value="Войти" class="primary" /></li>
            </ul>
        </div>
    </div>
</form>
</div>