@model RegisterModel
<section id="banner">
    <div class="col-6 col-12-medium">
    <h3>Регистрация</h3>
    <form method="post">
        <div class="row gtr-uniform">
            <div class="col-6 col-12-xsmall">
                <input asp-for="Login" placeholder="@Html.DisplayNameFor(x => x.Login)" />
                <span style="color: red;" asp-validation-for="Login"></span>
            </div>
            <div class="col-6 col-12-xsmall"></div>
            <div class="col-6 col-12-xsmall">
                <input asp-for="Password" placeholder="@Html.DisplayNameFor(x => x.Password)" />
                <span style="color: red;" asp-validation-for="Password"></span>
            </div>
            <div class="col-6 col-12-xsmall"></div>
            <div class="col-6 col-12-xsmall">
                <input asp-for="Email" placeholder="@Html.DisplayNameFor(x => x.Email)" />
                <span style="color: red;" asp-validation-for="Email"></span>
            </div>
            <!-- Break -->
            <!-- Break -->
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Зарегистрироваться" class="primary" /></li>
                </ul>
            </div>
        </div>
    </form>
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    </div>
</section>